<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
    <title> <%= title %> </title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %> 
    <div class="conatiner">
        <a href="/download">Download</a>
    <h1>This is the express crash course</h1>
    </div>
</body>
</html>

